* {
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    scroll-behavior: smooth;
}

header {
    width: 100%;
    max-width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
}

section {
    min-height: 100vh;
    width: 100%;
    max-width: 100%;
    position: relative;
    z-index: 1;
}

#home {
    height: 100vh;
    width: 100vw;
}

#home p:nth-of-type(1) {
    font-size: 1.5rem;
    color: #fffa;
}

.title {
    font-size: 8rem;
    text-shadow: 0 0 20px #0fd;
}

.title+p {
    color: #fffa;
    font-size: 1.5rem;
}

#particle-js {
    z-index: 1;
}

.retangle {
    opacity: .05;
}

.item {
    background-color: #151515;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    box-shadow: 5px 3px 10px 0 rgba(0, 0, 0, 0.2), -5px -3px 10px 0 rgba(200, 200, 200, 0.03);
    border-radius: 16px;
    padding: 10px;
    transition: all .25s;
}


#skills .item:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 14px 0#0fda;
}

.item p {
    font-size: 27px;
}

iconoify-icon {
    width: 200px;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: #0fd;
}

.mh {
    display: none;
}

.bg-menu {
    height: 0;
    width: 0;
    display: none;
}

.project {
    min-width: 550px;
    width: 40%;
    min-height: 200px;
    height: 350px;
}

.project a {
    color: black;
}

.project img {
    transition: all .3s;
}

.project:hover img {
    height: 50%;
}

.project .info {
    height: 100%;
    width: 100%;
}

.project .info .txt {
    width: 100%;
    height: 100%;
    transform: translateY(80%);
}

.project .info:hover .txt {
    background-color: #151515;
    transform: translateY(27%);
}

.project .info .txt {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 5px 15px;
}

.project .info .txt {
    transition: all .3s;
}

.project h2 {
    font-size: 27px;
    margin-bottom: 12px;
}

.project h2~p~div {
    font-size: 18px;
    text-align: justify;
}

@media (max-width: 985px) {
    header {
        background-color: #161616;
        width: 0;
        height: 100vh;
        flex-direction: column;
        justify-content: start;
        gap: 10%;
        white-space: nowrap;
        overflow: hidden;
        position: fixed;
        z-index: 999;
        top: 0;
        left: -30%;
        transition: all .3s;
        padding-top: 60px;
    }

    .logo {
        height: 80px;
        width: 100%;
    }

    .header.actived {
        width: 75vw;
        left: 0;
    }

    #home {
        min-height: 100vh;
        width: 100vw;
    }

    #home h1 {
        font-size: 5.5rem;
    }

    .mh p {
        transition: all .25s;
    }

    .mh {
        width: 50px;
        min-height: 35px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        z-index: 9999;
        top: 30px;
        left: 30px;
    }

    .mh p {
        background-color: #fff;
        width: 100%;
        min-height: 4px;
    }

    .mh p:nth-child(1),
    .mh p:nth-child(3) {
        width: 65%;
    }

    .mh p:nth-child(1) {
        align-self: flex-end;
    }

    .mh p:nth-child(3) {
        align-self: start;
    }

    .header ul {
        height: fit-content;
        display: flex;
        flex-direction: column;
        font-size: 30px;
        font-weight: 600;
        gap: 35px;
    }


    .mh.actived p:nth-child(2) {
        width: 0;
        align-self: center;
    }

    .mh.actived p:first-child,
    .mh.actived p:last-child {
        width: 75%;
        transition-delay: .01s;
    }

    .mh.actived p:first-child {
        transform: translate(-11px, 10px) rotate(-45deg);
    }

    .mh.actived p:last-child {
        transform: translate(2px, -20px) rotate(45deg);
    }
}

@media (max-width: 723px) {
    #home h1 {
        font-size: 4.5rem;
    }

    #about .infos {
        width: 100%;
        max-width: 100%;
    }

    #about .txt {
        text-align: justify;
    }

    #about h2 {
        font-size: 28px;
    }
}

@media (max-width: 650px) {
    #home h1 {
        font-size: 4.5rem;
    }

    #about .profile .pinf p {
        text-align: center;
    }

    #about .txt {
        text-align: justify;
    }

    #about h2 {
        font-size: 28px;
    }
}

@media (max-width: 623px) {

    .project,
    .project:hover {
        transform: scale(.8);
    }
}

@media (max-width: 568px) {
    #home h1 {
        font-size: 3.5rem;
    }

    .project,
    .project:hover {
        transform: scale(.7);
    }
}



@media (max-width: 428px) {
    #home h1 {
        font-size: 2.5rem;
    }

    #home p {
        font-size: 1.2rem;
    }

    #about h2 {
        white-space: wrap;
        text-align: center;
    }

    .project {
        transform: scale(.6);
    }

    .project img {
        height: 50%;
    }

    .project .info .txt {
        background-color: #151515;
        transform: translateY(27%);
    }
}